body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('../images/medicine_background.png');
    background-size: cover;
    background-position: center;
}

h1, h2 {
    text-align: center;
    color: black;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255,255,255,0.6);
    padding: 30px;
    border-radius: 10px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

/* Table styles */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

    .table th,
    .table td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table tr:nth-child(even) {
        background-color: #f9f9f9;
    }
